/* ===== Variables ===== */
:root {
  --main-color: rgb(0, 189, 214);
  --btn-color: #fff;
  --hover-color: rgb(100, 48, 148);
  --bg-color: #f6f6f6;
  --main-font: "Raleway", sans-serif;
  --main-transition: 100px;
  --padding-top-section: 100px;
  --padding-bottom-section: 100px;
  --swiper-theme-color: var(--main-color) !important;
}

/* ===== Global Rules ===== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ===== Utilties ===== */

/* ===== Header ===== */
header {
  background-image: url(../images//studio-fade.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  height: 100vh;
}
/* ===== NavBar ===== */
header nav .container {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 30px;
}
header nav .logo
{
  position: absolute;
  left: 0px;
}
header nav ul {
  display: flex;
  gap: 40px;
}
header nav ul li a {
  color: var(--btn-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-transform: capitalize;
  transition: var(--main-transition);
}
header nav ul li a:hover {
  color: var(--main-color);
}
header nav .bar_icon {
color: var(--btn-color);
font-size: 30px;
cursor: pointer;
}

header nav .sideMenu {
  display: none;
}

/* ===== End Header ===== */
