/* ===== Variables ===== */
:root {
  --main-color: rgb(0, 189, 214);
  --btn-color: #fff;
  --hover-color: rgb(100, 48, 148);
  --bg-color: #f6f6f6;
  --parag-color: #a5a5a5;
  --main-font: "Raleway", sans-serif;
  --second-font: "Open Sans", sans-serif;
  --main-transition: 0.3s;
  --padding-top-section: 100px;
  --padding-bottom-section: 100px;
  --swiper-theme-color: var(--main-color) !important;
}

/* ===== Global Rules ===== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ===== Utilties ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*  Medium  */
@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}
/* semi Large */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
a.btn {
  background-color: var(--hover-color);
  padding: 17px 45px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 13px;
  font-weight: 700;
  color: var(--btn-color);
  text-transform: uppercase;
  transition: var(--main-transition);
}
a.btn:hover {
  background-color: var(--main-color);
}
h1 {
  font-size: 54px;
  line-height: 67px;
}
/* Small */
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
  }
}
/* Semi Small */
@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 39px;
  }
}
/*  Medium  */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }
}
/* Semi Large */
@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 52px;
  }
}
/* Large */
@media (max-width: 1200px) {
  h1 {
    line-height: 55px;
  }
}
.text_section span {
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--main-color);
}
.text_section h1 {
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.text_section p {
  font-size: 14px;
  font-family: var(--second-font);
  color: var(--parag-color);
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 50px;
}
/* ===== Header ===== */
.header {
  background-image: url(../images//studio-fade.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100vh;
}
/* ===== NavBar ===== */
.header .container nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 20px;
}
.header .navbar_brand {
  color: var(--btn-color);
  font-size: 30px;
  margin-right: 20px;
}
.header .navbar_brand span {
  font-weight: 300;
}
.header .navbar_toggle {
  font-size: 25px;
  color: var(--btn-color);
  padding-top: 7px;
  display: none;
}
.header .links {
  display: flex;
  gap: 30px;
}
.header .links ul {
  display: flex;
  gap: 40px;
  padding-top: 10px;
}
.header .links ul li a {
  color: var(--btn-color);
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-transform: capitalize;
  transition: var(--main-transition);
}
.header .links ul li a:hover {
  color: var(--main-color);
}
.header .bar_btn {
  font-size: 25px;
  color: var(--btn-color);
  padding-top: 7px;
}
@media (max-width: 1200px) {
  .header .links ul {
    gap: 15px;
  }
}
/* Social Media Links */
.social_media {
  display: none;
}
.social_media i {
  color: var(--btn-color);
  font-size: 12px;
  padding: 8px 10px;
  background-color: var(--main-color);
  border-radius: 30px;
  margin-right: 5px;
  cursor: pointer;
}
/* Side Menu */
.header .sideMenu {
  display: none;
}
@media (max-width: 991px) {
  .header .links {
    display: none;
  }
  .header .navbar_toggle {
    display: block;
  }
}
@media (max-width: 769px) {
  .social_media {
    display: block;
  }
}

/* ===== Start Home Section ===== */
section.home {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
section.home .text_side {
  margin-bottom: 40px;
}
section.home .text_side h1 {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  font-weight: 200;
  color: white;
  opacity: 0;
}
section.home .text_side .b1 {
  animation: ani1 15s infinite;
}
section.home .text_side .b2 {
  animation: ani2 15s infinite;
}
section.home .text_side .b3 {
  animation: ani3 15s infinite;
}
section.home .text_side h1 span {
  font-weight: 700;
}
section.home .bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
section.home .bullets li {
  width: 13px;
  height: 13px;
  background-color: var(--btn-color);
  border-radius: 50%;
  cursor: pointer;
}
section.home .bullets .active_Bullet {
  background-color: var(--main-color);
}
/* ===== End Home Section ===== */
/* ===== End Header ===== */

/* ===== Start Service Section */
section.service {
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
section.service .container {
  display: flex;
  align-items: center;
}
section.service .container .text_section {
  flex: 0 0 50%;
}

section.service .container .img_section {
  flex: 0 0 50%;
}
section.service .container .img_section img {
  width: 100%;
}
@media (max-width: 767px) {
  section.service .container .text_section {
    text-align: center;
    flex: 60%;
  }
  section.service .container .img_section {
    flex: 40%;
  }
}
@media (max-width: 576px) {
  section.service .container {
    flex-direction: column;
  }
  section.service .container .text_section {
    flex: 100%;
  }
  section.service .container .img_section {
    flex: 100%;
    margin-top: 50px;
  }
  section.service .container .img_section img {
    width: 100%;
  }
}
/* ===== End Service Section */
/* ===== Start Feature Section ===== */
section.features {
  background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  color: var(--btn-color);
  text-align: center;
}
section.features h1 {
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 40px;
}
section.features .container .items {
  display: flex;
  gap: 20px;
  font-family: var(--second-font);
}
section.features .container .items .item {
  cursor: pointer;
}
section.features .container .items .item:hover span {
  background-color: var(--btn-color);
  color: var(--main-color);
}
section.features .container .items .item span.num {
  font-family: var(--second-font);
  font-size: 28px;
  line-height: 90px;
  font-weight: 500;
  border: 1px solid var(--btn-color);
  border-radius: 50%;
  padding: 25px 30px;
  position: relative;
  transition: var(--main-transition) linear;
}
section.features .container .items .item span.num::after,
section.features .container .items .item span.num::before {
  content: "";
  width: 120%;
  height: 0.5px;
  background-color: var(--btn-color);
  position: absolute;
  top: 50%;
}
section.features .container .items .item span.num:not(.last)::after {
  left: 100%;
}
section.features .container .items .item span.num:not(.first):before {
  right: 100%;
}
section.features .container .items .item span.last::after,
section.features .container .items .item span.first:before {
  width: 0%;
}
section.features .container .items .item p.pro_name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 15px 0 25px 0;
}
section.features .container .items .item p.pro_des {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
@media (max-width: 633px) {
  section.features .container .items .item {
    flex: 0 0 50%;
  }
}
@media (min-width:634px) and (max-width:992px)
{
  section.features .container .items .item {
    flex: 0 0 40%;
  }
}
@media (max-width: 992px) {
  section.features .container .items {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  section.features .container .items .item span.last::after,
  section.features .container .items .item span.first::before {
    width: 120%;
  }
  section.features .container .items .item span.last::after {
    left: 100%;
  }
  section.features .container .items .item span.first::before {
    right: 100%;
  }
}
/* ===== End Feature Section ===== */
/* ==== Start team Section ==== */
section.team 
{
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
section.team .container .text_section {
  text-align: center;
}

/* ==== End team Section ==== */
/* Samll */

@keyframes ani1 {
  0% {
    opacity: 0;
  }
  17.5% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
}
@keyframes ani2 {
  35% {
    opacity: 0;
  }
  52.5% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
@keyframes ani3 {
  70% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
