.swiper-container {
  position: relative;
  height: 100%;
  background-color: green;
}
.swiper {
  width: 80%;
  overflow: hidden;
  background-color: blue;
}
.swiper-container .swiper-wrapper .card {
  position: relative;
  /* overflow: hidden; */
  background-color: red;
}

.swiper-container .swiper-slide .card-img {
}
.swiper-container .swiper-slide .card-img img {
  width: 100%;
  object-fit: cover;
}

.swiper-container .swiper-slide .card-content {
  background-image: linear-gradient(
    to right,
    rgb(66, 63, 156),
    rgb(131, 35, 89) 90%
  );
  width: 100%;
  transition: 0.5s linear;
  position: absolute;
  bottom: 50%;
}
