body {
  background-color: #eee;
}
.swiper-container {
  position: relative;
  height: 100%;
}
.swiper {
  width: 80%;
  overflow: hidden;
}
.swiper-container .swiper-wrapper .card {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 450px;
  border-top: 20px solid white;
}
.swiper-container .swiper-wrapper .card:after,
.swiper-container .swiper-wrapper .card:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: white;
  top: 0;
  z-index: 2;
}
.swiper-container .swiper-wrapper .card:before,
.swiper-container .swiper-wrapper .card:after {
  bottom: 0;
}
.swiper-container .swiper-wrapper .card:after {
  right: 0;
}

.swiper-container .swiper-slide .card-img {
  width: 100%;
}
.swiper-container .swiper-slide .card-img img {
  width: 100%;
  object-fit: cover;
}

.swiper-container .swiper-slide .card-content {
  background-image: linear-gradient(
    to right,
    rgb(66, 63, 156),
    rgb(131, 35, 89) 90%
  );
  width: 100%;
  transition: 0.5s linear;
  position: absolute;
  bottom: -20%;
}
.swiper-container .swiper-wrapper .card:hover .card-content {
  bottom: 0;
}

